<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout= "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
    <title>日报管理系统</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="main">
    	<div class="mainin">
        	<!--h1><img src="/images/ht_name.png"></h1-->
            <h1>日报管理系统</h1>
            <div class="mainin1">
                <ul>
                <!--/*@thymesVar id="user" type="com.cedar.worklog.entity.User"*/-->
                <form action="#" th:action="@{/login}" method="post" th:object="${user}">
                    <input type="hidden" name="userid" th:value="*{userid}" >
                    <li><span>用户名：</span>
                    <input type="text" name="username" th:value="*{username}"  class="SearchKeyword">
                    </li>
                    <br/>
                    <li><span>密码：</span>
                    <input type="text" name="userpassword" th:value="*{userpassword}"  class="SearchKeyword2">
                    </li>
                    <br/>
                    <li><button class="tijiao">登录</button></li>
                </form>
                </ul>
                <a href="/user/form" th:href="@{/user/form}">
                    新建用户
                </a>

            </div>
        </div>
    </div>
</body>
</html>
