<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <title>Content</title>
</head>
<body>
<div>
    <a href="/user/form" th:href="@{/user/form}">
        新建用户
    </a>
</div>
<table border="2">
    <thead>
    <tr>
        <td>id</td>
        <td>名字</td>
        <td>证件号码</td>
        <td>管理</td>
    </tr>
    <!--/*@thymesVar id="contents" type="java.util.List<com.cedar.worklog.entity.User>"*/-->
    <tr th:each="user:${contents}">
        <!--/*@thymesVar id="user" type="com.cedar.worklog.entity.User"*/-->
        <td th:text="${user.userid}"></td>
        <td th:text="${user.username}"></td>
        <td><a th:href="@{'/user/'+${user.userid}}" th:text="${user.role}"></a></td>
        <td><a th:href="@{'/user/delete/'+${user.userid}}">删除</a></td>
    </tr>
    </thead>
</table>

</body>
</html>